<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AL FAQAR FOUNDATION </title>
    <link rel="stylesheet" href="site.css">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.css" />
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" />
    <!--link to Font Awson icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="" website-container"></div>
    <!--home section start -->
    <section class="home" id="home">
        <!--main navbar starts-->
        <nav class="main-navbar">
            <a href="#" class="logo">
                <img src='~/NewFolder/logo.png' alt="Logo">
            </a>
            <ul class="nav-list">
                <li> <a href="#"> Home</a> </li>
                <li> <a href="#"> services</a> </li>
                <li> <a href="#"> courses</a> </li>
                <li> <a href="#"> categories</a> </li>
                <li> <a href="#"> testimonials</a> </li>
            </ul>
            <div class="get-started-btn-container">
                <a href="~/Home/Apply" class="get-started-btn btn">Apply Now</a>
            </div>

                <div class="menu-btn">
                    <span> </span>
                </div>
        </nav>
        <!-- ===banner starts-->
        <div class="banner">
            <div class="banner-desc">
                <h2> Start learning with our Experts, Anywhere, Anytime</h2>
                <p>
                    lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  eiusmod tempor incidunt ut labore et dolore magna aligua. Ut enim ad minim veniam.
                </p>
                <form class="search-bar">
                    <input type="search " placeholder="search your course">
                    <i class="fa-solid fa-search"> </i>
                </form>
            </div>
            <div class="banner-img">
                <div class="banner-img-container">
                    <img src="https://th.bing.com/th?id=OIP.LEILcmkZSn5E6tFjPt4d1QHaKC&w=214&h=291&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2">
                    <div class="states">
                        <div class="total-courses">
                            <div class="icon">
                                <i class="fa-solid fa-book"></i>
                            </div>
                            <div class="desc">
                                <span>50+</span>
                                <span> Total courses</span>
                            </div>
                        </div>
                        <div class="courses-ratings">
                            <span>4.7<i class="fa-solid fa-star"></i></span>
                            <span> Ratings(58k)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
    </section>
    <!--partners section starts -->
    <section class="partners">
        <h3>Our trusted partners around the world</h3>
        <div class="owl-carousel owl-theme partners-slider">
            <div class="item brand-items">
                <img src='~/NewFolder/logoname1.jpg' alt="Logo">

            </div>
            <div class="item brand-items">
                <img src='~/NewFolder/logoname2.jpg' alt="logo" \>
            </div>
            <div class="item brand-items">
                <img src='~/NewFolder/logoname3.jpg' alt="logo" \>
            </div>
            <div class="item brand-items">
                <img src='~/NewFolder/logoname4.jpg' alt="logo" \>
            </div>
            <div class="item brand-items">
                <img src='~/NewFolder/logoname5.jpg' alt="logo" \>
            </div>
            <div class="item brand-items">
                <img src='~/NewFolder/logoname6.jpg' alt="logo" \>
            </div>
            <div class="item brand-items">
                <img src='~/NewFolder/logoname7.jpg' alt="logo" \>
            </div>
        </div>
    </section>
    <!--partners section ends -->
    <!--services section start-->
    <section class="services" id="services">
        <!--services header starts-->
        <header class="section-header">
            <h1>
                why choose us
            </h1>
            <p>
                We offer flexible, high-quality learning from top universities
                experts, accessible anytime and anywhere."
            </p>
            <!--services header ends-->
            <!--*** services content start-->
            <div class="services-contents">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa-solid fa-calendar">
                        </i>
                    </div>
                    <div class="service-desc">
                        <h2>Flexible timing</h2>
                        <p>
                            Learn at your own pace with schedules that adapt to your availability.
                        </p>
                    </div>
                </div>
                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa-solid fa-users">
                        </i>
                    </div>
                    <div class="service-desc">
                        <h2>Expert Teachers</h2>
                        <p>
                            Gain insights from top industry experts and world-renowned educators.
                        </p>
                    </div>
                </div>
                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa-solid fa-clock">
                        </i>
                    </div>
                    <div class="service-desc">
                        <h2>24/7 Live support</h2>
                        <p>
                            Access course materials and resources anytime, anywhere, to fit your routine.
                        </p>
                    </div>
                </div>
            </div>
            <!--courses secction start-->

            <section class="courses" id="courses">
                <!--courses header-->
                <header class="section-header">
                    <div class="header-text">
                        <h1>Choose your courses</h1>
                        <p>
                            Select the perfect course to achieve your goals, tailored to your interests
                            and career aspirations.
                        </p>
                    </div>
                    <button class="courses-btn btn">View All</button>
                </header>
                <!--content starts-->
                <div class="courses-contents">
                    <div class="course-card">
                        <img src='~/NewFolder/course2.jpg' alt="Course 1" class="image-class">

                        <div class="category">
                            <div class="subject"><h3>Designing</h3></div>
                            <!--img src="course11.jpg" alt="design"-->
                        </div>
                        <h2 class="Course-Tilte">
                            Learn canva: Canva is a user-friendly design platform that enables you to
                            create stunning graphics.
                        </h2>
                        <div class="course-desc">
                            <span> <i class="fa-solid fa-video"></i>5 Videos</span>
                            <span> <i class="fa-solid fa-users"></i>0 student</span>
                        </div>
                        <div class="course-ratings">
                            <span>0.0<i class="fa-solid fa-star"></i></span>
                            <span><b>$</b>10,000</span>
                        </div>
                    </div>
                    <div class="course-card">
                        <img src='~/NewFolder/course8.jpg' alt="Course 1" class="image-class">
                        <div class="category">
                            <div class="subject"><h3>marketings</h3></div>
                            <!--img src="course10.jpg" alt="design"-->
                        </div>
                        <h2 class="Course-Tilte">
                            Learn Social Media Marketings: Social Media Marketings is
                            a user-friendly design platform that enables you to
                            create stunning platforms.
                        </h2>
                        <div class="course-desc">
                            <span> <i class="fa-solid fa-video"></i>5 Videos</span>
                            <span> <i class="fa-solid fa-users"></i>0 student</span>
                        </div>
                        <div class="course-ratings">
                            <span>0.0<i class="fa-solid fa-star"></i></span>
                            <span><b>$</b>10,000</span>
                        </div>
                    </div>
                    <div class="course-card">
                        <img src='~/NewFolder/course9.jpg' alt="Course 1" class="image-class">
                        <div class="category">
                            <div class="subject"><h3>Database (SQL)</h3></div>
                            <!--img src="course2.jpg" alt="design"-->
                        </div>
                        <h2 class="Course-Tilte">
                            Learn Database: Databaseis
                            a user-friendly design tool that enables you to
                            create files that hold user data.
                        </h2>
                        <div class="course-desc">
                            <span> <i class="fa-solid fa-video"></i>5 Videos</span>
                            <span> <i class="fa-solid fa-users"></i>0 student</span>
                        </div>
                        <div class="course-ratings">
                            <span>0.0<i class="fa-solid fa-star"></i></span>
                            <span><b>$</b>10,000</span>
                        </div>
                    </div>
                    <div class="course-card">
                        <img src='~/NewFolder/course1.jpg' alt="Course 1" class="image-class">
                        <div class="category">
                            <div class="subject"><h3>Code</h3></div>
                            <!--img src="course9.jpg" alt="design"-->
                        </div>
                        <h2 class="Course-Tilte">
                            Learn C++: C++ is a user-friendly design platform that enables you to
                            create stunning functions.
                        </h2>
                        <div class="course-desc">
                            <span> <i class="fa-solid fa-video"></i>5 Videos</span>
                            <span> <i class="fa-solid fa-users"></i>0 student</span>
                        </div>
                        <div class="course-ratings">
                            <span>0.0<i class="fa-solid fa-star"></i></span>
                            <span><b>$</b>10,000</span>
                        </div>
                    </div>
                    <div class="course-card">
                        <img src='~/NewFolder/course4.jpg' alt="Course 1" class="image-class">
                        <div class="category">
                            <div class="subject"><h3>business</h3></div>
                            <!--img src="course8.jpg" alt="design"-->
                        </div>
                        <h2 class="Course-Tilte">
                            Learn Ecommerce: Ecommerce is a user-friendly design platform that enables you to
                            create stunning platforms.
                        </h2>
                        <div class="course-desc">
                            <span> <i class="fa-solid fa-video"></i>5 Videos</span>
                            <span> <i class="fa-solid fa-users"></i>0 student</span>
                        </div>
                        <div class="course-ratings">
                            <span>0.0<i class="fa-solid fa-star"></i></span>
                            <span><b>$</b>10,000</span>
                        </div>
                    </div>
                    <div class="course-card">
                        <img src='~/NewFolder/course5.jpg' alt="course1">
                        <div class="category">
                            <div class="subject"><h3>Development</h3></div>
                            <!--img src="course7.jpg" alt="design"-->
                        </div>
                        <h2 class="Course-Tilte">
                            Learn Javascript/html/CSS: Javascript is a user-friendly design platform that enables you to
                            create stunning functions.
                        </h2>
                        <div class="course-desc">
                            <span> <i class="fa-solid fa-video"></i>5 Videos</span>
                            <span> <i class="fa-solid fa-users"></i>0 student</span>
                        </div>
                        <div class="course-ratings">
                            <span>0.0<i class="fa-solid fa-star"></i></span>
                            <span><b>$</b>10,000</span>
                        </div>
                    </div>
                </div>
            </section>
            <!--courses secction end-->
            <!--   *** Courses Categories Section Starts ***   -->
            <section class="categories" id="categories">
                <!--   === Categories Section Header Starts ===   -->
                <header class="section-header">
                    <h1>Browse Courses By Categories</h1>
                    <p>
                        Explore a diverse range of courses designed to enhance your skills
                        and expand your knowledge across various fields.
                    </p>
                </header>
                <!--   === Categories Section Contents Starts ===   -->
                <div class="categories-contents">

                    <div class="category-item">
                        <div class="category-icon">
                            <i class="fa-solid fa-palette"></i>
                        </div>
                        <div class="category-desc">
                            <h3>Designing</h3>
                            <p>
                                Explore creative tools and techniques to craft stunning visuals
                                and user-friendly designs that stand out.
                            </p>
                        </div>
                    </div>

                    <div class="category-item">
                        <div class="category-icon">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <div class="category-desc">
                            <h3>Development</h3>
                            <p>
                                Master impactful strategies to promote brands, engage audiences,
                                and drive business growth.
                            </p>
                        </div>
                    </div>

                    <div class="category-item">
                        <div class="category-icon">
                            <i class="fa-solid fa-bullhorn"></i>
                        </div>
                        <div class="category-desc">
                            <h3>Marketing</h3>
                            <p>
                                Gain in-depth coding knowledge to build functional, dynamic, and scalable applications.
                                Gain in-depth coding knowledge to build functional, dynamic, and scalable applications.
                            </p>
                        </div>
                    </div>

                    <div class="category-item">
                        <div class="category-icon">
                            <i class="fa-solid fa-camera"></i>
                        </div>
                        <div class="category-desc">
                            <h3>Business</h3>
                            <p>
                                Learn essential skills to manage, lead, and grow successful enterprises in a
                                competitive market.
                            </p>
                        </div>
                    </div>

                </div>
            </section>
            <!--   *** Courses Categories Section Ends ***   -->
            <!--   *** Teacher Section Starts ***   -->
            <section class="instructor">
                <div class="instructor-container">
                    <h2>Become an instructor with Bright Future Platform</h2>
                    <p>
                        Our expert instructors are industry professionals with years of experience in their respective fields.
                        They are dedicated to providing hands-on, practical learning tailored to your goals. With personalized guidance and real-world insights,
                        they ensure an engaging and impactful learning journey.
                    </p>
                    <button class="teacher-btn btn" onclick="window.location.href='@Url.Action("Apply", "Home")'">Your Details</button>

                </div>
            </section>
            <!--   *** Teacher Section Ends ***   -->
            <!--   *** Testimonials Section Starts ***   -->
            <section class="testimonials" id="testimonials">
                <!--   === Testimonials Section Header Starts ===   -->
                <header class="section-header">
                    <h1>Testimonials</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </header>
                <!--   === Testimonials Section Header Ends ===   -->
                <!--   === Testimonials Contents Starts ===   -->
                <div class="owl-carousel owl-theme testimonials-slider">

                    <div class="item testimonials-item">
                        <div class="profile">
                            <div class="profile-image">
                                <img src='~/NewFolder/teacher-1.jpg'>
                            </div>
                            <div class="profile-desc">
                                <span>Person Name</span>
                                <span>Description</span>
                            </div>
                        </div>
                        <p>
                            Our testimonials reflect the success and satisfaction of our learners worldwide.
                            Hear how our courses have transformed careers, enhanced skills, and empowered individuals to achieve
                            their goals. Join a community that values quality
                            learning and real-world results.
                        </p>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <div class="ratings">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>

                    <div class="item testimonials-item">
                        <div class="profile">
                            <div class="profile-image">
                                <img src='~/NewFolder/teacher-2.jpg'>
                            </div>
                            <div class="profile-desc">
                                <span>Person Name</span>
                                <span>Description</span>
                            </div>
                        </div>
                        <p>
                            Hear how our courses have transformed careers, enhanced skills, and empowered
                            individuals to achieve their goals. Join a community that values quality
                            learning and real-world results.
                        </p>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <div class="ratings">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>

                    <div class="item testimonials-item">
                        <div class="profile">
                            <div class="profile-image">
                                <img src='~/NewFolder/teacher-3.jpg'>
                            </div>
                            <div class="profile-desc">
                                <span>Person Name</span>
                                <span>Description</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <div class="ratings">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>

                    <div class="item testimonials-item">
                        <div class="profile">
                            <div class="profile-image">
                                <img src='~/NewFolder/teacher-4.jpg'>
                            </div>
                            <div class="profile-desc">
                                <span>Person Name</span>
                                <span>Description</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <div class="ratings">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>

                    <div class="item testimonials-item">
                        <div class="profile">
                            <div class="profile-image">
                                <img src="~/NewFolder/teacher-5.jpg">
                            </div>
                            <div class="profile-desc">
                                <span>Person Name</span>
                                <span>Description</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <div class="ratings">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>

                </div>
                <!--   === Testimonials Contents Ends ===   -->
            </section>
            <!--   *** Testimonials Section Ends ***   -->
            <!--   *** Footer Section Starts ***   -->
            <section class="footer" id="footer">

                <!--   === Footer Contents Starts ===   -->
                <div class="footer-contents">

                    <div class="footer-col footer-col-1">
                        <div class="col-title">
                            <img src='~/NewFolder/logo.png'>
                        </div>
                        <div class="col-contents">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                        </div>
                    </div>

                    <div class="footer-col footer-col-2">
                        <div class="col-title">
                            <h3>Contact</h3>
                        </div>
                        <div class="col-contents">
                            <div class="contact-row">
                                <span>Address</span>
                                <span>Uskt main campus Sialkot Pakistan</span>
                            </div>
                            <div class="contact-row">
                                <span>Phone</span>
                                <span>+92 00 000 000</span>
                            </div>
                            <div class="contact-row">
                                <span>Email</span>
                                <span>Aneesanoor@gmail.com</span>
                            </div>
                        </div>
                    </div>

                    <div class="footer-col footer-col-3">
                        <div class="col-title">
                            <h3>Quick Links</h3>
                        </div>
                        <div class="col-contents">
                            <a href="#">Home</a>
                            <a href="#">Services</a>
                            <a href="#">Courses</a>
                            <a href="#">Categories</a>
                            <a href="#">Testimonials</a>
                        </div>
                    </div>

                    <div class="footer-col footer-col-4">
                        <div class="col-title">
                            <h3>Newsletter</h3>
                        </div>
                        <div class="col-contents">
                            <form class="newsletter">
                                <input type="email" placeholder="Your Email">
                                <button class="newsletter-btn btn" type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>

                </div>
            </section>
            <!--   *** Footer Section Ends ***   -->
            </div>
            <!--   *** Website Container Ends ***   -->
            <!--   *** Link To JQuery ***   -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

            <!--   *** Link To Owl Carousel ***   -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
            <script src="site.js"></script>
</body>
</html>